.container {
    width:40%;
    color:white;
    background: #2d1da8;
    border-radius: 5px;
    padding: 30px;
}
.title{
    text-align: center;
    margin-bottom : 20px;
}
.password-wrapper{
    width:100%;
    height:50px;

}
 .password-area{
    display:flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    
}
.password-area .password{
    width:100%;
    height:100%;
    border-radius: 5px;
    position:relative;
}
.password-area .password input {
    width:100%;
    height:100%;
    font-size:20px;
    background: white;
    line-height:50px;
    border-radius: 5px;
    border:none;
    outline:none;

}


  
  .password-area .copyIcon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 0 5px 5px 0;
    cursor:pointer;
  
 
  }
  .setting{
    margin : 20px 0;

   }
  /* .customize{
    margin: 10px;
    display: flex;
    justify-content: flex-start;

  }
  .customize .checkboxes{
    display: flex;

  }
  .left, .right{
    width : fit-content;

  }
  .customize .right{
    margin-left: 30px;
  }
  .customize .checkboxes .checkbox-field{
    margin-top: 10px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
  }  */
  .left {
    float: left;
    width: 50%;
  }
  
  .right {
    float: right;
    width: 50%;
  }
  
  .checkbox-field {
    margin-bottom: 10px;
  }
  
  .checkbox-field input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .checkbox-field label {
    display: inline-block;
    vertical-align: middle;
  }
  .slider{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
  }
  .slider .rangeValue{
    width: 80px;
    height: 100%;
    font-size: 22px;
    border-radius: 5px;
    background-color:white;
    color:black;
    line-height: 50px;
    text-align: center;
  }
  .slider .range{
    width: calc(100% - 80px);
    height: 100%;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    outline:none;
    background: white;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items:center;



  }
  .slider .range input {
    width: 100%;
  }
  .buttons{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .buttons button {
    margin-left: 15px;
    padding: 0 25px;
    height: 50px;
    border-radius: 50px;
    background-color:#fcc50f ;
    border: none;
    outline: none;
    color:black;
    cursor:pointer;
  }
  .buttons button:hover {
    background-color: #ff2957;
  }
  @media only screen and (max-width: 767px) {
    .container {
      width: 80%;
      padding: 20px;
    }
  
    .title {
      font-size: 18px;
      margin-bottom: 15px;
    }
  
    .password-area {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .password-area .password {
      margin-top: 10px;
    }
  
    .slider .rangeValue {
      font-size: 16px;
    }
  
    .buttons button {
      font-size: 14px;
      padding: 0 15px;
    }
  }
  